/* Reseta margens e paddings padrões e define o modelo de caixa mais previsível */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex; /* Organiza os elementos lado a lado automaticamente */
    gap: 30px;
    height: 100vh; /* Garante que o container ocupe a altura da tela inteira */
}

.formulario {
    width: 100%;
    display: flex;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    height: 100vh; /* Ocupa toda a altura da tela */
    flex: 1;  /* Ocupa todo o espaço disponível ao lado da imagem */
}

.submit {
    color: black;
    background-color: white;
    border-radius: 40px;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid #8C8A8A;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.login-senha {
    justify-content: space-between;
    display: flex;
    margin: 10px;
}

.conteudo-login {
    width: 100%;
    max-width: 700px; /* Tamanho máximo para o conteúdo */
}

.form-login {
    margin: 5px;
    text-align: center;
}

.circulo {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: #8E8E8E;
    display: inline-block;
}

.login-senha {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
}

.login-senha label input {
    height: 25px;
    width: 25px;
    background-color: #bbb;
}

.botoes {
    text-align: center;
}

#esquecer-senha {
    font-family: "Inter", sans-serif;
    color: #2A59D1;
    text-decoration: underline;
    font-size: 20px;
}

#entrar {
    font-family:"Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    border-radius: 40px;
    background-color: #FF4F4F;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

#login-opcoes {
    font-family:"Poppins", sans-serif;
    font-weight: medium;
    color: #787878;
    font-size: 18px;
}

.login-senha > .checkbox-modificado > label {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #2A59D1;
    font-size: 20px;
}

.checkbox-modificado input[type="checkbox"] {
    display: none; /* Esconde o checkbox padrão */
}

/* Estiliza o label */

.checkbox-modificado label {
    position: relative;
    padding-left: 30px; /* Espaço para o círculo */
    cursor: pointer;
    color: #2962ff; /* Azul forte */
    font-weight: bold;
    font-size: 16px;
    padding-left: 40px;
}

/* Desenha o círculo */
.checkbox-modificado label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 3px solid #999; /* Cinza */
    border-radius: 50%; /* Torna o quadrado um círculo */
    background-color: white;
}

/* Quando estiver marcado */
.checkbox-modificado input[type="checkbox"]:checked + label::before {
    background-color: #2962ff; /* Fundo azul quando marcado */
    border-color: #999;
}

#inscrever,
span {
    font-family: "Inter", sans-serif;
    font-weight: 600; 
}

#inscrever {
    font-size: 20px;
    color: #FF4F4F;
    margin-top: 10px;
    cursor: pointer;
}

span {
    font-size: 20px;
    color: black;
    cursor: pointer;
}

img {
    height: 100vh; /* Ocupa 100% da altura visível da tela */
    width: 50vw;   /* Ocupa 50% da largura visível da tela */
    display: block;
}

h1 {
    font-family:"Poppins", sans-serif;
    font-size: 100px;
    color: #0057FF;
    text-align: center;
}

h2 {
    font-family:"Poppins", sans-serif;
    font-size: 30px;
    color: #FF4F4F;
    text-align: center;
    margin-top: -10px;
}

input[type="text"],
input[type="email"] {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #E4E4E4;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding-left: 20px;
}

input[type="text"],
input[type="email"],
#entrar {
    width: 100%; /* Sempre ocupa 100% do conteudo-login */
    max-width: 640px; /* Se quiser um limite um pouquinho menor */
    height: 60px;
}

.submit {
    height: 60px;
    width: 600px;
}
